{% extends 'basic.html' %}
{% block title %} ADD STUDENTS {% endblock title %}
{% block style %}
<style>
  label {
    color: purple;
  }
</style>
{% endblock style %} {% block body %}
<br />
<br />
<br />
<br />
<div class="container mt-4">
  {% for message in messages %}
  <div
    class="alert alert-{{message.tags}} alert-dismissible fade show"
    role="alert"
  >
    <strong></strong>{{message}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endfor %}

  <div class="jumbotron jumbotron-fluid bg-light py-3 px-2">
    <div class="container">
      <h3 class="display-4">Faculty Section</h3>

      <p>
        <a href="updateStudentRedirect">Click Here to Update Student Details</a>
      </p>

      <div class="col-md-6" style="margin-top: 20px">
        <div class="card card-body">
          <center>
            <h3>Add Student</h3>
          </center>
          <form
            class="form-horizontal"
            action=""
            method="POST"
            enctype="multipart/form-data"
          >
            {% csrf_token %}
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label">Enter First Name:</label>
                  {{ studentForm.firstname }}
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label class="control-label">Enter Last Name:</label>
                  {{ studentForm.lastname }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label">Enter USN ID:</label>
                  {{ studentForm.registration_id }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sel1">Select Branch:</label>
                  {{ studentForm.branch }}
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sel1">Select Year:</label>
                  {{ studentForm.year }}
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="sel1">Select Section:</label>
                  {{ studentForm.section }}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6">
                <div class="form-group" style="border: none">
                  <label class="control-label">Upload Profile Picture:</label>
                  {{ studentForm.profile_pic }}
                </div>
              </div>
              <div class="col-md-3"></div>
            </div>
            <button type="submit" class="btn btn-block btn-warning">
              Submit
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-6" style="margin-top: 20px">
        <h2 class="text-success">Add Students IA Marks</h2>
        <form action="/arkauth/AddIa/" method="POST">
          {% csrf_token%}
          <div class="form-group">
            <label for="usn">USN</label>
            <br />
            <select id="usn" class="form-control" name="usn" required>
              <option selected>Select</option>
              {% for post in stud %}

              <option value="{{post.registration_id}}">{{post.registration_id}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="gender">Gender</label>
            <br />

            <select class="form-control" id="gender" name="gender" required>
              <option selected>Select</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
          </div>

          <div class="form-group">
            <label for="domain">SEM</label>
            <br />
            <select class="form-control" name="sem" required>
              <option selected>Select</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>
          <div class="form-group">
            <label for="domain">IA</label>
            <br />
            <select class="form-control" name="ia" required>
              <option selected>Select</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>

          <div class="form-group">
            <label for="marks">Marks Obtained</label>
            <br />
            <select class="form-control" name="marks" required>
              <option selected>Select</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>
            </select>
          </div>

          <div class="form-group">
            <label for="subject">Subject</label>
            <br />
            <select class="form-control" id="subject" name="subject" required>
              <option selected>Select</option>
              {% for sub in subjects %}

              <option value="{{sub.subject_name}}">{{sub.subject_name}}</option>
              {% endfor %}
            </select>
          </div>
          <br />
          <button type="submit" class="btn btn-block btn-warning">
            Submit
          </button>
        </form>
      </div>
    </div>

    {% endblock body %} 
    {% block script %}
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>

    {% endblock script %}
  </div>
</div>
