{% extends 'basic.html' %}
{% block title %}
 Login
{% endblock title %}
{% block style %}
<style>
#baby{
  border-radius:107px 45px 139px 29px;
  box-shadow: 0px 1px 9px 2px #d6ef1ffc;
}
.btn{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
background-color: #fbb034;
background-image: linear-gradient(315deg, #fbb034 0%, #ffdd00 74%);

    border: 2px solid white;
    color:black;
    width: 100%;
}
.btn:hover{
  background-color: #f9484a;
background-image: linear-gradient(315deg, #f9484a 0%, #fbd72b 74%);
}
</style>
{% endblock style %}
{% block body %}
   <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
<div class="row mt-5">
<br>
<br>
<br>
<div class="col-md-4"></div>
<div class="col-md-4 bg-dark text-white p-4" id="baby">
<br>

<br>

<h1 data-aos="fade-up" class="text-center text-warning">Login</h1>
<div class="container" data-aos="fade-up" data-aos-delay="400">

</div>

{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <strong></strong>{{message}} 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
<form action="/arkauth/login/" method="post">{% csrf_token %}
<br>

<label for="email">Email</label>
<div class="form-group">
<input type="email" class="form-control" id="email" name="email" required>
</div>
<label for="pass1">Password</label>
<div class="form-group">
<input type="password" class="form-control" id="pass1" name="pass1" required>
</div>

<br>
<button type="submit" class="btn">Login</button>

<hr>
Not Already User? <a href="/arkauth/signup/">Signup</a>
<br>
<span> Forget Password? <a href="/arkauth/request-reset-email/">Reset</a></span>
<br>

</form>
</div>
</div>
<div class="col-md-6"></div>

</div>
</div>
</div>
</section>

{% endblock body %}
